<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link href="../public/CSS/Authentifacation.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../public/CSS/main.css"><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../public/JS/LoginPage.js"></script>
</head>
<body>

    <section>
        <span id="Alert"></span>
        <h3>You don't need to register</h3>
        <form onsubmit="SubmitForm(event)">

            <div class="avatar">
                <i class="fas fa-camera"></i> 
                <img src="https://hips.hearstapps.com/vidthumb/images/avengers-endgame-thanos-1554573832.jpg?crop=0.565xw:1.00xh;0.165xw,0&resize=480:*" alt="Avatar"  title="Choose your avatar">
            </div>
            
            <h1>Login</h1>
            <label><input type="checkbox" onchange="ToggleInput()"><small>I'm new to this!!!</small></label>
            <div class="userName"> 
                <label>*User Name</label>
                <input type="text">
            </div>
            <label>*Email</label>
            <input type="email" required id="email">
            <label>*Password </label>
            <input type="password" required>

            <input type="submit">
        </form>
    </section>


</body>
</html>