<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mocha Tests</title>

    <link rel="stylesheet" href="../node_modules/mocha/mocha.css">

</head>
<body>

    <script src="../node_modules/mocha/mocha.js"></script>
    <script src="../node_modules/chai/chai.js"></script>
    <div id="mocha"></div>
    <script>mocha.setup('bdd')</script>


    <!-- Code to Test -->

    <!-- Testing Files-->


   <script>mocha.run();</script>
</body>
</html>