<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CHAT APP</title>

    <link rel="stylesheet" type="text/css" href="../public/CSS/main.css">
    <link rel="stylesheet" type="text/css" href="../public/CSS/showMessage.css">
    <link rel="stylesheet" type="text/css" href="../public/CSS/userProfile.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="../public/JS/LoadAccount.js"></script>
    <script src="../public/JS/pageToggle.js"></script>
</head>

<body>
    <section>
        <div class="head">
            <div class="userInfo ShowInbox">
                <img src="../public/Img/User.svg">
                <span id="LogoDescription">Chats</span>
            </div>
            <div class="Posts ShowInbox">
                <i class="fas fa-camera"></i>
                <i class="fas fa-edit"></i>
            </div>

            <!-- Messaging mode -->
            <div class="userInfo messageMode-1">
                <i class="fas fa-chevron-left"></i>
                <img src="../public/Img/User.svg">
                <div>
                    <span>Name Last</span>
                    <span id="ActiveTime">Active 1h ago</span>
                </div>
            </div>

            <div class="Posts messageMode-2">
                <i class="fas fa-phone"></i>
                <i class="fas fa-video"></i>
            </div>
        </div>

        <div class="peopleSection">
            <div class="onlineSection ShowInbox">
                <input type="search" placeholder="search">
                <div class="onlinePeople">
                    <!-- Start dublicating -->
                    <div class="Onlineperson">
                        <img src="../public/Img/Story.svg">
                        <h6>Your story</h6>
                    </div>

                    <div class="Template1 Onlineperson" data-UserID=0>
                        <img src="../public/Img/User.svg">
                        <span id="status"></span>
                        <h6>NAN</h6>
                    </div>

                </div>
            </div>

            <div class="InboxPeople ShowInbox">

                <!-- Start dublicating -->
                <div class="Template2 Person" data-UserID=0>
                    <span id="ProfilePic">
                        <img src="../public/Img/User.svg">
                        <span id="status"></span>
                    </span>
                    <div class="details">
                        <h4>8:40pm</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati consequuntur recusandae eligendi beatae, veritatis aperiam repellat molestias rem eius molestiae distinctio architecto et. Est cumque natus beatae dolores iste tenetur.</p>
                    </div>
                    <time></time>
                </div>
            </div>

            <div class="messageMode-3">
                <div class="sentMessage">
                    <img src="https://careerswithstem.com.au/wp-content/uploads/2018/03/Ann-Damien-profile-img.jpg">
                    <p>Hi there what are you up to my</p>
                </div>

                <div class="replyMessage">
                    <p>Yeah Nah go awadas a das dasd as das das das das da it i</p>
                </div>
            </div>

            <!-- Profile  -->
            <div class="UserProfile">
                <img src="../public/Img/User.svg">
                <span class="editImg">
                    <i class="fas fa-user-edit"></i>
                </span>
                <span class="userName">Brian Shisanya</span>

                <div class="MoreDetail">

                    <div class="Person">
                        <span id="ProfilePic">
                        <i class="fas fa-envelope"></i>
                    </span>
                        <div class="details">
                            <h4>brian.shisanya2000@gmail.com</h4>
                            <p>updated: feb 2018</p>
                        </div>
                        <time><i class="fas fa-pen"></i></time>
                    </div>

                    <div class="Person">
                        <span id="ProfilePic">
                        <i class="fas fa-phone"></i>
                    </span>
                        <div class="details">
                            <h4>0412367871</h4>
                            <p>updated: feb 2011</p>
                        </div>
                        <time><i class="fas fa-pen"></i></time>
                    </div>

                    <div class="Person">
                        <span id="ProfilePic">
                        <i class="fas fa-user-tag"></i>
                    </span>
                        <div class="details">
                            <h4>TheRigidNinja</h4>
                            <p>updated: feb 2018</p>
                        </div>
                        <time><i class="fas fa-pen"></i></time>
                    </div>

                </div>
            </div>
        </div>

        <!-- <span id="typing" class="messageMode">...</span> -->

        <div class="subMenu">
            <div class="ShowInbox"> 
                <a href="##" id="loginPage"><i class="fas fa-running"></i></a>
                <a href="##" id="inbox"><i class="fas fa-comment-dots"></i></a>
                <a href="##" id="friends"><i class="fas fa-address-book"></i> </a>
                <a href="##" id="profile"><i class="fas fa-user"></i></a>
            </div>

            <div class="messageMode messageActions">
                <div class="more">
                    <i class="fas fa-camera"></i>
                    <i class="far fa-grin-beam"></i>
                </div>
                <input type="text" placeholder="New Message">
                <i class="fas fa-paper-plane" id="submitMessage"></i>
            </div>
        </div>
    </section>
</body>

</html>