<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Mocha Tests</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/mocha/mocha.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mocha/3.1.0/mocha.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chai/3.5.0/chai.min.js"></script>

    <!-- Testing Classes -->
    <script src="../public/JS/LoginPage.js"></script>
  </head>
  <body>

      <div id="mocha"></div>
  
      <script>
        mocha.setup("bdd");
        var assert = chai.assert;

        // Login Page test
        describe("Calculation of the decimal fraction", function () {
          console.log(validateData());

          it("should return 0.6 when 0.2 * 3", function () {
            assert.equal(6,"6")
          });

          // it("should return 0.6 when ((0.2 * 10) * 3) / 10", function () {
          //   y.should.equal(0.6);
          // });
        });



        mocha.run();
      </script>
  </body>
</html>
