
body{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px;
    padding: 0px;
    font-family:Calibre, "Helvetica Neue", "Segoe UI", Helvetica, Arial, "Lucida Grande", sans-serif;
}

section{
    touch-action: auto;
    position: absolute;
    border-radius: 5px;
    max-width: 400px;
    max-height: 600px;
    min-width: 320px;
    height: 100%;
    width: 100%;
    background: rgb(245, 245, 245);
    margin: 0px;
    border: 1px solid rgba(0, 0, 0, 0.027); 
    overflow: hidden;
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: space-between;
}

 .head,.subMenu,.Person{
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
}

.subMenu{justify-content: center;height: 80px;background: orangered}
.head{
    justify-content: space-between;
    background: #5a51a5;
    height: 100px;
    padding-top: 5px
}   

/* -------- User info -------- */
.userInfo{margin-left: 20px;}
.userInfo span{
    font-weight: 800;
    font-size:25px;
    position: relative;
    top:-15px;
    left: 5px;
    color: white;
}

.userInfo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #f5f5f5;
}

/* -------- Posts -------- */
.Posts{margin-right: 30px}
.Posts i{
    font-size: 22px;
    margin-left: 30px;
    color: white;
    cursor: pointer;
}

/* -------- Search bar -------- */
input[type="search"]{
    position: relative;
    width: 100%;
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    font-size: .9em;
    background: rgb(224, 224, 224);
    box-shadow: none;
    border: none;
    cursor: text;
}

/* -------- Online Section -------- */
.peopleSection{
    width:90%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    box-sizing: content-box;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-flow: column; 
    align-items: center;

}

.onlineSection{
    height: auto;
    width: 100%;
    margin-top: 20px;
}

.onlinePeople{
    display: block;
    height: 70px;
    padding: 8px 0px;
    width: 100%;
    text-align: start;
    position: relative;
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}

.Onlineperson{
    position: relative;
    transition: all 0.2s;
    text-align: center;
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
    width: 70px;
}

.Onlineperson:last-child{
  margin-right: 30px;  
}


.Onlineperson img{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top:0px;
    margin-left: 5px;
}

.Onlineperson h6{
    position: relative;
    margin-top: 0px;
    color: #0000009f;
    font-weight:400;
    width: 70px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.Onlineperson #status{
    left:48px;
    top: 34px;
    border-color:#f5f5f5;
}


/* Footer section */
.subMenu{
    position: relative;
    background: white;
    z-index: 2;
}

.subMenu #inbox{
    color: #726dbd;
}

.subMenu a{
    text-decoration: none;
    color: #b6bec5;
    margin: 0px;
}

.subMenu a{
    position: relative;
    font-size: 25px; 
    padding: 20px;
}

/* Login page button */
#loginPage i{
    position: absolute;
    transform: rotateY(180deg)translateX(30px);
}

#loginPage{
    padding: 0px 40px;
}

.InboxPeople{
    /* position: relative; */
    height: auto;
    width: 100%;
    margin-top: -5px
}

.Person{
    transition: all 0.2s;
    position: relative;
    height: 70px;
    border-radius: 5px;
    background: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.034);
    color: #b6bec5;
    margin-bottom: 10px;
    cursor: pointer;
}

#ProfilePic{position: relative;}
#ProfilePic img{
    margin: 0px;
    padding: 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0px 10px 0px 15px;
}
#status{
    position: absolute;
    background: #06cf0d;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 2px solid white;
    top: 28px;
    left: 40px;
}

.details{
    position: relative;
    width: 70%;
    height: 80px;
    min-width: 150px;
}

.details div{
    position: relative;
    width: 200px;
    height: 20px;
    text-align: center;
    display: flex;
    flex-flow: row;
    align-items: center;
    top: 15px;
}

.details h4{
    max-width: 200px;
    height: 20px;
    overflow: hidden;
    color: #000000c0;
    text-align: start;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.details p{
    position: absolute;
    top:30px;
    width: 100%;
    height: 20px;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
    text-align: start;
    font-size: 13px;
}

time{
    font-size: 10px;
    margin: 0px 15px 0px 10px;
} 

[class*=Template]{
    display: none
} 

/* Hover / Active affects */
.Onlineperson:hover,
.Posts i:hover,
.subMenu i:hover,
.Person:hover{opacity: 0.8;}

.Onlineperson:active,
.Posts i:active,
.subMenu i:active,
.Person:active{transform:scale(.95,.95)}
#loginPage i:active{transform:rotateY(180deg)translateX(50px)scale(.95,.95)}

@media screen and (max-width: 500px){ 
    section{
        max-height: 100%;
        max-width: 100%;
        border-radius: 0px;
        border: none;
    }
}

::-webkit-scrollbar {
    width: 0px;
  }