/* UserProfile */

.userName{
    display: block;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 700;
}

.UserProfile{
    position: relative;
    text-align: center;
    overflow: hidden;
    overflow-y: scroll;
    box-sizing: content-box;
    -webkit-overflow-scrolling: touch;
    margin-top: -45px;
    padding-top: 80px
}


.UserProfile img{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 30px;
    
}
#ProfilePic{font-size: 30px;margin:0px 10px 0px 10px}
.UserProfile time{font-size: 20px;}

.editImg{
    position: absolute;
    font-size: 20px;
    margin: 105px 0px 0px -50px;
    padding: 5px;
    background: #726dbd;
    color: white;
    border-radius: 50%;
    border:5px solid rgb(245, 245, 245);
    cursor: pointer;
}


.head,
.subMenu,
.peopleSection,
.onlineSection,
.onlinePeople,
.UserProfile,
.InboxPeople{
    transition: all cubic-bezier(1,.07,.54,.7) .3s;
}